* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a i {
  color: #ff8000;
  text-decoration: none;
  
}
a{
  text-decoration: none;
}

.fas.fa-hamburger {
  color: #ff8000;
}

a.text {
  color: #ff8000;
  text-decoration: none;
}

.order {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 2px;
}


@media (max-width: 600px) {
  span.order {
    font-size: 15px;
  }
  i.fa-2x {
    font-size: 1.25rem;
  }
}

.kontaktemail, .kontaktphone{
  color: black;
  text-decoration: none;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.navbar-toggler {
  border: none;
}
.navbar-nav .nav-item a.text:hover {
  text-decoration: none;
  color: #ff8000;
}
.container{
  width: 450px;
}
