* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #f7f2ef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
}
a i {
  color: #b75934;
}

.fas.fa-hamburger {
  color: #b75934;
}

.fab.fa-facebook {
  color: #1877f2;
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-youtube {
  color: #ff0000;
}

.fab.fa-instagram {
  color: #bc2a8d;
}

.navbar-nav .nav-item a.text:hover {
  text-decoration: none;
  color: #b75934;
}

a.text {
  color: #b75934;
}

.order {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 2px;
}

i.fa-2x {
  font-size: 1.75rem;
}

@media (max-width: 600px) {
  span.order {
    font-size: 15px;
  }
  i.fa-2x {
    font-size: 1.25rem;
  }
}
.navbar-toggler {
  border: none;
}

.col-lg-8 {
  z-index: 999;
  position: fixed;
  background-color: #ffffff;
  height: 50px;
}

.col-lg-8 a {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.section-link:hover {
  color: white;
  border-style: solid;
  border-color: black;
  background-color: black;
  border-radius: 20px 20px 20px 20px;
  border-width: 7px;
  text-decoration: none;
}

.row-hover {
  border: 1px solid rgb(194, 191, 191);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.row-hover:hover {
  background-color: rgb(232, 229, 229);
  cursor: pointer;
}
.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.no-bg {
  background-color: transparent;
}

.larger-plus:hover {
  color: green;
  font-size: 40px;
}
.larger-plus {
  font-size: 25px;
}
.pris {
  font-weight: 700;
}

.titel {
  margin: 1px;
  font-weight: 700;
}
.description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#kurv {
  position: fixed;
  right: 0; /* Adjust the right position as needed */
  /* z-index: -1; */
  box-shadow: -30px 5px 10px rgba(230, 196, 196, 0.1);
}
.kassen {
  background-color: rgb(244, 114, 8);
  color: white;
  font-size: larger;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 45px;
  cursor: pointer;
}
@media (max-width: 1010px) {
  /* Adjust the breakpoint as needed */
  #kassen-button {
    position: fixed; /* Fix the button to the bottom */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(244, 114, 8); /* Customize the button's appearance */
    color: #fff;
    padding: 10px;
    z-index: -999; 
  }
}

.basket-container {
  max-height: 360px; /* Adjust the height as needed */
  overflow-y: auto;
}
.kurvshadow {
  box-shadow: -30px 5px 10px rgba(244, 239, 239, 0.1);
}

/* Custom CSS for circular button */
.btn-circle {
  width: 45px; /* Set the width and height to create a circle */
  height: 45px;
  border-radius: 50%; /* Use border-radius to make it round */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0; /* Remove default button padding */
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1; /* Center text vertically */
}
