body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: aliceblue;
}

form {
  background-color: #f7f2ef;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: bolder;
  color: #1877f2;
}
label {
  font-weight: 200;
  color: #ff8000;
}

@media (max-width: 600px) {
  form {
    width: 95%;
    height: auto;
  }
  footer {
    width: auto;
  }
  i.fa-2x {
    font-size: 1.25rem;
  }
}

.fab.fa-facebook {
  /* Your styles for the Facebook icon here */
  color: #1877f2; /* Change the color */
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-youtube {
  /* Your styles for the YouTube icon here */
  color: #ff0000; /* Change the color */
}

/* Target the Instagram icon */
.fab.fa-instagram {
  /* Your styles for the Instagram icon here */
  color: #bc2a8d; /* Change the color */
}

.forgot {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: #ff8000;
}
.forgot:hover {
  color: #17a2b8;
}

button.mx-5 {
  color: #ff8000;
}
button.btn-info:hover {
  color: rgb(4, 65, 4);
}
.form-control::placeholder {
  font-size: smaller;

}
