* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: bolder;
  color: #1877f2;
}
label {
  font-weight: 200;
  color: #ff8000;
}

@media (max-width: 600px) {
  form {
    width: 95%;
    height: auto;
  }
  span.order {
    font-size: 15px;
  }
  footer {
    width: auto;
  }
  i.fa-2x {
    font-size: 1.25rem;
  }
}

.forgot {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: #ff8000;
  font-weight: 200;
}

.form-control::placeholder {
  font-size: small;
}

a i {
  color: #ff8000;
  text-decoration: none;
}
.fas.fa-hamburger {
  color: #ff8000;
}

.order {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 2px;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.navbar-toggler {
  border: none;
}
a.text {
  text-decoration: none;
  color: #ff8000;
}

.btnknap {
  height: 40px;
  width: 130px;
  background-color: #ff8000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  color: white;
}
