* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #f7f2ef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
}
a i {
  color: #b75934;
}

.fas.fa-hamburger {
  color: #b75934;
}

.fab.fa-facebook {
  color: #1877f2;
}

.fab.fa-twitter {
  color: #1da1f2;
}

.fab.fa-youtube {
  color: #ff0000;
}

.fab.fa-instagram {
  color: #bc2a8d;
}

a.text:hover {
  color: wheat;
}

a.text {
  color: #b75934;
  text-decoration: none;
}

.order {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 2px;
}

i.fa-2x {
  font-size: 1.75rem;
}

@media (max-width: 600px) {
  span.order {
    font-size: 15px;
  }
  i.fa-2x {
    font-size: 1.25rem;
  }
}
.navbar-toggler {
  border: none;
}

.navbar-nav .nav-item a.text:hover {
  text-decoration: none;
  color: #b75934;
}

.bg-info {
  background-color: #17a2b8 !important;
}
