<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stripe Payment</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="/static/js/updateTotalPrice.js" defer></script>
  </head>

  <style type="text/css">
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      color: #28a0e5;
    }
  </style>

  <body>
    <h2>
      Du bliver videreført til sikker betaling efter 
    </h2>
    <h2>du har trykket på 'Pay with
      Card' knappen</h2>
    <!-- HTML formualar. Data sendes til /charge når der trykkes på'Pay with Card' -->
    <form action="/charge" method="post">
      <article>
        <label for="checkout_total">Til betaling: DKK </label>
        <span id="netto_amount"></span> <!-- pladsholder for beløb som kommer fra home.html -->
        <input type="hidden" name="amountdue" id="amountdue" /> <!-- to skjulte input felter som sendes med formularen til /charge-->
        <input type="hidden" name="orders" id="orders" /><!-- det er JSON data i inputfeltet der blev sat i linje 46 i updateTotalPrice.js og hentes her på siden linje 52 og indsættes i linje 58  -->
      </article>

      <!-- indlæser Stripe's Checkout JavaScript-biblioteket.-->
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button" 
        data-key="{{ key }}"
        data-amount="{{numericValue}}"
      ></script>
    </form>
    <script>
      // Retrieve the 'nettoAmount' value and orders from sessionStorage
      const nettoValue = sessionStorage.getItem("nettoAmount"); // sessionStorage sat i updateTotalPrice.js
      const orderJSON = sessionStorage.getItem("orderJSON"); // sessionStorage sat i updateTotalPrice.js

      const nettoAmountElement = document.getElementById("netto_amount"); // sætter beløbet i span linje 36

      const input_field_value = document.getElementById("amountdue");
      // Vi indsætter JSON fra session storage med produkterne ind i skjult inputfelt som sendes til backend
      const input_field_orders = document.getElementById("orders");

      input_field_orders.value = orderJSON;

      // Check if the value exists before logging it
      if (nettoValue !== null) {
        // Convert retrieved string to a numeric
        let numericValue = parseFloat(nettoValue);
        numericValue = numericValue * 100; // vigtigt betaling sker i cents i /charge
        input_field_value.value = numericValue;

        // Update the content of the <span> with the numeric value
        const numDivision = numericValue / 100;
        nettoAmountElement.textContent =
          numDivision.toFixed(2).replace(".", ",") + " kr.";
        console.log("Value is", numericValue);
      } else {
        console.log("Value not found in sessionStorage");
      }
    </script>
    <script src="/static/js/updateTotalPrice.js"></script>
  </body>
</html>
