<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/opret.css" />
    <script
      src="https://kit.fontawesome.com/558b5cad1d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image.png" href="/static/images/logo.png" />
    <title>Opret dig</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-xxxl navbar-light bg-info fixed-top">
      <div class="container-fluid">
        <a href="{{url_for('home')}}">
          <i class="fa-solid fa-house fa-2x">
            <span class="order">Just Order</span>
          </i>
        </a>

        <!--toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          <i class="fas fa-hamburger"></i>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav">
            <hr />

            <li class="nav-item pl-4 my-1 mb-md-0">
              <a
                class="text"
                href="https://www.google.com/maps/@55.6538973,12.4875442,18.44z?entry=ttu"
                target="_blank"
                >Find os her</a
              >
            </li>
            <hr />
            <li class="nav-item pl-4 my-1 mb-md-0">
              <a class="text" href="{{url_for('aabningstider')}}">
                Åbningstider
              </a>
            </li>
            <hr />
            {% if not session.stored_user_id %}
            <li class="nav-item pl-4 my-1 mb-md-0">
              <a class="text" href="{{url_for('login')}}"> Login </a>
            </li>
            <hr />
            {% else %}
            <li class="nav-item pl-4 my-1 mb-md-0">
              <a class="text" href="{{ url_for('logout') }}">Logout</a>
            </li>
            <hr />
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br />

    <div class="container p-3 my-5">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="container mt-2 text-center">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <form class="bg-light" method="post" action="/opret">
        <div class="form-row d-flex justify-content-between">
          <div class="form-group col-6 mb-3">
            <label for="inputName">Navn</label>
            <input
              class="form-control"
              id="inputName"
              name="name"
              placeholder="Skriv navn"
              required
            />
          </div>
          <div class="form-group col-5">
            <label for="inputSurname">Efternavn</label>
            <input
              class="form-control"
              id="inputSurname"
              name="surname"
              placeholder="Skriv efternavn"
              required
            />
          </div>
        </div>
        <div class="form-row d-flex justify-content-between">
          <div class="form-group col-6 mb-3">
            <label for="inputTown">By</label>
            <input
              class="form-control"
              id="inputTown"
              name="town"
              placeholder="Skriv by"
              required
            />
          </div>
          <div class="form-group col-5 mb-3">
            <label for="inputZip">Postnummer</label>
            <input
              required
              class="form-control"
              inputmode="numeric"
              minlength="4"
              maxlength="4"
              id="inputZip"
              name="zip"
              placeholder="Skriv postnummer"
            />
          </div>
        </div>

        <div class="mb-3 col-12">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            type="email"
            placeholder="Indtast din email"
            required
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            placeholder="Adgangskode"
            required
            minlength="8"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="mb-4 form-check">
          <a class="haveaccount" href="{{url_for('login')}}">Allerede kunde?</a>
          <br />
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Husk mig</label>
        </div>
        <button type="submit" class="btnknap">Opret mig nu</button>
      </form>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        setTimeout(function () {
          $(".alert").fadeOut("slow");
        }, 4000);
      });
    </script>
  </body>
</html>
